@{
  Layout = "_Layout";
}

<h3>Welcome to the Travel Tracker!</h3>
<h3>@Html.ActionLink("See all Destinations", "Index", "Destinations")</h3>
<h3>@Html.ActionLink("See all Travelers", "Index", "Travellers")</h3>
<h3>@Html.ActionLink("See all Clubs", "Index", "Clubs")</h3>